body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    max-height: 80%;
    max-width: 60%;
}

h1 {
    text-align: center;
    font-size: 60px;
}








